NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://www.garemo.online
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_CLARITY_PROJECT_ID=
RESEND_API_KEY=
GAREMO_EMAIL_FROM=Garemo <no-reply@garemo.online>
